
.container{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: black;
	overflow: hidden;

}

.box{
	position:absolute;
	width: 96vw;
	height: 96vh;
	top:2vh;
	left:2vw;
	margin: 2vh 2vw 2vh 2vw;
	background-color: white;
	float: left;
	position: relative;
	overflow: hidden;
	transition: 1s;
	opacity: 1;

/*	background-image: url(../images/white.gif);
	background-repeat: no-repeat;
	height: 120%;
	background-size: cover;*/
}

.show1 {
	opacity: 1;
	transition: 1s;
}

.gif1 {
	background-image: url(../images/1.gif);
	background-repeat: no-repeat;
	height: 120%;
	background-size: cover;
}

.gif2 {
	background-image: url(../images/2.gif);
	background-repeat: no-repeat;
	height: 120%;
	background-size: cover;
}

.gif3 {
	background-image: url(../images/3.gif);
	background-repeat: no-repeat;
	height: 120%;
	background-size: cover;
}

.gif4 {
	background-image: url(../images/4.gif);
	background-repeat: no-repeat;
	height: 120%;
	background-size: cover;
}

.gif5 {
	background-image: url(../images/5.gif);
	background-repeat: no-repeat;
	height: 120%;
	background-size: cover;
}

.gif6 {
	background-image: url(../images/6.gif);
	background-repeat: no-repeat;
	height: 120%;
	background-size: cover;
}

.gif7 {
	background-image: url(../images/7.gif);
	background-repeat: no-repeat;
	height: 120%;
	background-size: cover;
}

.gif8 {
	background-image: url(../images/8.gif);
	background-repeat: no-repeat;
	height: 120%;
	background-size: cover;
}

/*.show2 {
	opacity: 1;
	transition: 1s;
	background-image: url(../images/white.gif);
	background-repeat: no-repeat;
	height: 120%;
	background-size: cover;
}*/

/*.show2 {
	opacity: 0.6;
	transition: 1s;
}

.show3 {
	opacity: 0.2;
	transition: 1s;
}*/

.effect1 {
	transform: scale(2,2);
	transition: 1s;
}

.effect2 {
	transform: scale(2.5,2.5);
	transition: 1s;
}


/*.effect4 {
	transform: scale(3,1);
	transition: 1s;*/
}

.effect3 {
	transform: scale(1.5,1.5);
	transition: 1s;
}

/*.effect6 {
	transform: scale(1,4);
	transition: 1s;
}

.effect7 {
	transform: rotateZ(90deg);
	transition: 1s;
}

.effect8 {
	transform: rotateZ(-90deg);
	transition: 1s;
}*/

/*.effect10{
	background-image: url(../images/pattern.jpg);
	background-repeat: no-repeat;
	height: 50%;
	width: 50%;

}*/

/*.effect9{
	background-image: url(../images/black.gif);
	background-repeat: no-repeat;
	height: 120%;
	background-size: cover;
}

.effect10{
	background-image: url(../images/white.gif);
	background-repeat: no-repeat;
	height: 120%;
	background-size: cover;
}

.effect11{
	background-image: url(../images/color.gif);
	background-repeat: no-repeat;
	height: 120%;
	background-size: cover;
}

.effect12{
	background-image: url(../images/pattern.jpg);
	background-repeat: no-repeat;
	height: 120%;
	background-size: cover;
}*/




@media (max-width: 1400px) { 
	.box{
		width: 94vw;
		/*height: 94vh;*/
		margin-left: 2vw;
		margin-right: 2vw;
	}
}

@media (max-width: 1375px) { 
	.box{
		/*transform: skewX(0.5deg);*/	
	}
}
@media (max-width: 1350px) { 
	.box{
		/*transform: skewX(1deg);	*/
	}
}

@media (max-width: 1325px) { 
	.box{
		/*transform: skewX(1.5deg);	*/
	}
}

@media (max-width: 1300px) { 
	.box{
		/*transform: skewX(2deg);	*/
	}
}

@media (max-width: 1275px) { 
	.box{
		/*transform: skewX(2.5deg);*/	
	}
}

@media (max-width: 1250px) { 
	.box{
		/*transform: skewX(3deg);*/	
	}
}

@media (max-width: 1225px) { 
	.box{
		/*transform: skewX(3.5deg);	*/
	}
}

@media (max-width: 1200px) { 
	.box{
		width: 46vw;
		/*height: 46vh;*/
		margin-left: 1.5vw;
		margin-right: 1.5vw;
	}
}

@media (max-width: 1175px) { 
	.box{
	}
}

@media (max-width: 1150px) { 
	.box{
	}
}

@media (max-width: 1125px) { 
	.box{
	}
}

@media (max-width: 1100px) { 
	.box{
	}
}

@media (max-width: 1075px) { 
	.box{
	}
}

@media (max-width: 1050px) { 
	.box{
	}
}

@media (max-width: 1250px) { 
	.box{
	}
}

@media (max-width: 1025px) { 
	.box{
	}
}

@media (max-width: 1000px) { 
	.box{
		width: 22vw;
		/*height: 22vh;*/
		margin-left: 1.25vw;
		margin-right: 1.25vw;
	}
}

@media (max-width: 975px) { 
	.box{
	}
}

@media (max-width: 950px) { 
	.box{
	}
}

@media (max-width: 925px) { 
	.box{
	}
}

@media (max-width: 900px) { 
	.box{
	}
}

@media (max-width: 875px) { 
	.box{
	}
}

@media (max-width: 850px) { 
	.box{
	}
}

@media (max-width: 825px) { 
	.box{
	}
}

@media (max-width: 800px) { 
	.box{
		width: 10.2vw;
		/*height: 10.2vh;*/
		margin-left: 1vw;
		margin-right: 1vw;
	}
}

@media (max-width: 775px) { 
	.box{
	}
}

@media (max-width: 750px) { 
	.box{
	}
}

@media (max-width: 725px) { 
	.box{
	}
}

@media (max-width: 700px) { 
	.box{
	}
}

@media (max-width: 675px) { 
	.box{
	}
}

@media (max-width: 650px) { 
	.box{
	}
}

@media (max-width: 625px) { 
	.box{
	}
}

@media (max-width: 600px) { 
	.box{
		width: 4.5vw;
		/*height: 4.5vh;*/
		margin-left: .75vw;
		margin-right: .75vw;
	}
}

@media (max-width: 575px) { 
	.box{
	}
}

@media (max-width: 550px) { 
	.box{
	}
}

@media (max-width: 525px) { 
	.box{
	}
}

@media (max-width: 500px) { 
	.box{
	}
}

@media (max-width: 475px) { 
	.box{
	}
}

@media (max-width: 450px) { 
	.box{
	}
}

@media (max-width: 425px) { 
	.box{
	}
}

@media (max-width: 400px) { 
	.box{
		width: 2.05vw;
		/*height: 2.05vh;*/
		margin-left: .5vw;
		margin-right: .5vw;
	}
}

@media (max-height: 800px) { 
	.box{
		height: 94vh;
		margin-top: 2vh;
		margin-bottom: 2vh;
	}
}

@media (max-height: 680px) { 
	.box{
		height: 46vh;
		margin-top: 1.5vh;
		margin-bottom: 1.5vh;
	}
}

@media (max-height: 560px) { 
	.box{
		height: 22vh;
		margin-top: 1.25vh;
		margin-bottom: 1.25vh;
	}
}

@media (max-height: 440px) { 
	.box{
		height: 10.2vh;
		margin-top: 1vh;
		margin-bottom: 1vh;
	}
}

@media (max-height: 320px) { 
	.box{
		height: 4.6vh;
		margin-top: .75vh;
		margin-bottom: .75vh;
	}
}

@media (max-height: 200px) { 
	.box{
		height: 2vh;
		margin-top: .5vh;
		margin-bottom: .5vh;
	}
}
